/* JUMBOTRON */
.jumbotron {
	color: white;
}

/* LINK */
a {
    text-decoration: none;
    color: black;
}
    a:hover {
        text-decoration: none;
        color: black;
    }

/* FOOTER */
.fa-heart {
	color: red;
}
body > footer > nav > span {
	margin-left: 50%;
}